// Colors
//MonoChromatic, brightest = 1, darkest = 5
$color1: #EBF7E3;
$color2: #9BD770;
$color3: #66B032;
$color4: #375F1B;
$color5: #1B3409;
// Font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
